@use "../../../_variables" as variables;

.logo {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    padding: .75rem 0;
}

.logo__text {
    font-weight: bold;
    font-size: 1.25rem
}

.logo__image {
    color: variables.$primary
}