@use "../../../_variables" as variables;

.card {
    padding: 1rem;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25);
    
    &.card-2 {
        grid-column: span 2;
    }

    &.card-3 {
        grid-column: span 3;
    }

    &.card-4 {
        grid-column: span 4;
        @include variables.phone {
            grid-column: span 2;
        }
    }

    .card__title {
        color: variables.$primary;
        font-size: 1.125rem;
        font-weight: bold;

        @include variables.tablet {
            font-size: 1rem;
        }

        @include variables.phone {
            font-size: 1rem;
        }
    }

    .card__number {
        font-size: 2rem;
        font-weight: 800;
        color: variables.$black-80;
        
        @include variables.tablet {
            font-size: 1.5rem;
        }

        @include variables.phone {
            font-size: 1.5rem;
        }
    }
}