@use "../../../../_variables" as variables;

.table__column__title{
    color: variables.$primary;
    font-weight: 800;
}

.table__column__title::first-letter {
    text-transform: uppercase;
}

.table__pagination {
    width: 100% ;
    color: black ;
    display: flex ;
    justify-content: space-between ;
}

.button {
    padding: .25rem .5rem;
    border-radius: .5rem;
    transition: all .25s ease-out;
    
    &.button--secondary{
        border: 2px solid variables.$primary;
        color: variables.$primary;

        &:hover {
            background-color: variables.$primary;
            color: white;
        }
    }

    &.button--danger {
        background-color: red;
        color: white;
    }
}