@use "../../../_variables" as variables;

.header {
    display: sticky;
    top: 0;
    width: 100%;
    padding: .5rem 0;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25)
};

.header__button__group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}