@use "../../../_variables" as variables;

.header {
    position: sticky;
    z-index: 99;
    background-color: white;
    top: 0;
    left:0;
    right:0;
    padding: .5rem .5rem;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25)
};

.header__button__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
}

.header__button {
    color: variables.$primary;
    cursor: pointer;
    transition: all .25s;
    position: relative;
    
    &:hover {
        color: variables.$primary-hover
    }
}

.header__button__dropdown__content {
    display: flex;
    flex-direction: column;
    min-width: 200px;

    hr {
        width: 100%
    }

    label {
        font-size: .75rem;
    }

    .title {
        font-size: 1.125rem;
        color: variables.$primary;
        font-weight: 800;
    }  
}

  

.header__button__container {
    position: relative;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.header__button__dropdown {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 3.1rem;
    padding: .5rem;
    transform: translateY(-20px);
    transition: all .25s ease-out;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25);
    z-index: 100;

    &.active {
        transform: translateY(0);
        opacity: 1;
    }
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
}

.profile--card {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
    z-index: 99;
    
    @include variables.phone {
        display: none;
    }

    .profile--card__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        z-index: 99;
        cursor: pointer;

        &>* {
            pointer-events: none;
        }
    
        .profile--card__name {
            font-weight: semibold;
            color: variables.$black-80
        }
    
        .profile--card__email {
            font-weight: thin;
            font-size: .75rem;
            color: variables.$black-40
        }
    
    }
    
    .profile--card__image {
        width: 3rem;
        height: 3rem;
        min-height: 3rem;
        min-width: 3rem;
        border-radius: 2rem;
        object-fit: cover;
    }

    .profile--card__dropdown {
        position: absolute;
        right: 0;
        top: 3.75rem;
        min-width: 15rem;
        transform: translateY(-50%);
        pointer-events: none;
        background-color: white;
        opacity: 0;
        height: fit-content;
        transition: all .35s;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 2px 5px rgba(0,0,0,.25);
        align-items: end;

        &.active {
            transform: translateY(0);
            pointer-events: auto;
            opacity: 1;
            z-index: 100;
        }

        .profile--card__dropdown__item{
            padding: .5rem 0;
            padding-right: .5rem;
            box-sizing: border-box;
            width: 100%;
            text-align: end;
            display: block;
            transition: all .25s ease-out;

            &:hover {
                background-color: variables.$black-5;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;

    .mobile--menu__button{
        color: variables.$primary;
        
        @include variables.desktop {
            display: none;
        }   
    
        &:hover {
            color: variables.$primary-hover
        }
    }
}

